html, body {
    color: #333;
    margin: 0;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

body {
    background: #F4F5F9;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.index-title {
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
}

.index-title h2 {
    font-size: 36px;
    font-family: "Microsoft Yahei";
    font-weight: 400;
}

.index-title a {
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DBDCE0;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 25px auto 0;
    transition: all .2s;
}

.index-title a:hover {
    background: #F96A69;
    color: inherit;
    border-color: #F96A69;
    color: #fff;
}

.video .inner {
    display: block;
    cursor: pointer;
}

.video .inner img {
    transition: all .4s;
}

.video .inner:hover img {
    transform: scale(1.05);
}

.video .vr-big {
    float: left;
    width: 766px;
    height: 484px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.video .vr-big .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #606060;
    padding: 0 30px 20px 30px;
    font-size: 16px;
}

.video .vr-big .text h3 {
    font-size: 24px;
    margin-bottom: 4px;
}

.video .vr-big .link {
    width: 130px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    z-index: 2;
    right: 30px;
    bottom: 20px;
    /*border: 1px solid #eee;*/
    color: #fff;
    transition: all .2s;
}

.video .vr-big img{
     width: 100%;
     height: 500px;
 }
.video .vr-big .link:hover {
    background: #F96A69;
    border-color: #F96A69;
    color: #fff;
}


.video .vr-right {
    float: left;
    width: 412px;
    margin-left: 22px;
}

.video .vr-small {
    margin-bottom: 20px;
    width: 412px;
    height: 232px;
    position: relative;
    overflow: hidden;
}

.video .vr-small .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 20px;
    font-size: 16px;
    color: #606060;
}

.video .vr-small img{
    width: 100%;
    /*height: 500px;*/
}

.video .vr-small .link {
    width: 30px;
    height: 20px;
    position: absolute;
    background: url(../images/3f_icon.png) no-repeat center center;
    right: 20px;
    bottom: 14px;
    z-index: 2;
    transition: all .2s;
}

.video .vr-small .link:hover {
    background: #F96A69;
    border-color: #F96A69;
    color: #fff;
}

.video .vr-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
}
.video .vr-bsmall{
    margin-left: 22px;
    margin-bottom: 20px;
    width: 500px;
    height: 275px;
    position: relative;
    overflow: hidden;
}

.video .vr-bsmall .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 20px;
    font-size: 16px;
    color: #606060;
}


.video .vr-bsmall .link {
    width: 30px;
    height: 20px;
    position: absolute;
    background: url(../images/3f_icon.png) no-repeat center center;
    right: 20px;
    bottom: 14px;
    z-index: 2;
    transition: all .2s;
}

.video .vr-bsmall .link:hover {
    background: #F96A69;
    border-color: #F96A69;
    color: #fff;
}
.video .vr-bsmall img{
    width: 100%;
    /*height: 500px;*/
}