<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.main.tenancy.dao.AddressRegionMapper" >
  <resultMap id="BaseResultMap" type="com.dev.main.tenancy.domain.AddressRegion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="first_letter" property="firstLetter" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, parent_id, first_letter, level
  </sql>

  <select id="query" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address_region
    <where>
      <if test="search!=null">AND (
        name LIKE CONCAT('%',#{search},'%')
        OR code LIKE CONCAT('%',#{search},'%')
        OR first_letter LIKE CONCAT('%',#{search},'%')
        )
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from address_region
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from address_region
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dev.main.tenancy.domain.AddressRegion" >
    insert into address_region (id, code, name,
      parent_id, first_letter, level
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT}, #{firstLetter,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dev.main.tenancy.domain.AddressRegion" >
    insert into address_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="firstLetter != null" >
        first_letter,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="firstLetter != null" >
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dev.main.tenancy.domain.AddressRegion" >
    update address_region
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="firstLetter != null" >
        first_letter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dev.main.tenancy.domain.AddressRegion" >
    update address_region
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      first_letter = #{firstLetter,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
