<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.main.tenancy.dao.TncCarItemMapper" >
  <resultMap id="BaseResultMap" type="com.dev.main.tenancy.domain.TncCarItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="car_id" property="carId" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <association property="car" column="car_id" select="com.dev.main.tenancy.dao.TncCarMapper.selectByPrimaryKey" javaType="com.dev.main.tenancy.domain.TncCar"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, number, status, car_id, is_deleted, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tnc_car_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tnc_car_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dev.main.tenancy.domain.TncCarItem" >
    insert into tnc_car_item (id, number, status, 
      car_id, is_deleted, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{carId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dev.main.tenancy.domain.TncCarItem" >
    insert into tnc_car_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dev.main.tenancy.domain.TncCarItem" >
    update tnc_car_item
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dev.main.tenancy.domain.TncCarItem" >
    update tnc_car_item
    set number = #{number,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      car_id = #{carId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getCarItemListByCarId" resultMap="BaseResultMap">
        select id, number, status, car_id  from tnc_car_item where car_id=#{carId} and is_deleted =0
  </select>
  <update id="updateDeleteFieldByPrimaryKey" >
    update tnc_car_item set is_deleted = 1 where id=#{id}
  </update>
  <update id="updateCarItemStatus">
    update  tnc_car_item set status = #{status} where id=#{id}
  </update>

  <select id="getCarItemList" resultMap="BaseResultMap">
    select id, number, status, car_id
    from tnc_car_item
    <where>
      <if test="carId !=null">
        car_id=#{carId}
      </if>
      <if test="search!=null">AND (
          id LIKE CONCAT('%',#{search},'%')
          OR number LIKE CONCAT('%',#{search},'%')
          )
        </if>
    </where>
    and is_deleted =0

  </select>

  <update id="quantityPlusOne">
      UPDATE tnc_car SET quantity = quantity+1 WHERE id = #{carId}
  </update>

  <update id="quantityAndResidualPlusOne">
      UPDATE tnc_car SET quantity = quantity+1,residual = residual+1 WHERE id = #{carId}
  </update>

  <update id="quantitySubOne">
      UPDATE tnc_car SET quantity = quantity-1
      WHERE id in (SELECT DISTINCT car_id  from tnc_car_item where id = #{carId})
  </update>

  <select id="checkRepetive"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tnc_car_item
    where number = #{number,jdbcType=VARCHAR} and is_deleted =0
  </select>
  
  <update id="residualAddOne">
     UPDATE tnc_car SET residual = residual+1
      WHERE id in (SELECT DISTINCT car_id  from tnc_car_item where id = #{id})
  </update>
  <update id="residualSubOne">
     UPDATE tnc_car SET residual = residual-1
      WHERE id in (SELECT DISTINCT car_id  from tnc_car_item where id = #{id})
  </update>

  <update id="quantityAndResidualSubOne">
      UPDATE tnc_car SET quantity = quantity-1,residual = residual-1
      WHERE id in (SELECT DISTINCT car_id  from tnc_car_item where id = #{carId})
  </update>
</mapper>