<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.main.tenancy.dao.TncCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.dev.main.tenancy.domain.TncCustomer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="last_access_time" property="lastAccessTime" jdbcType="TIMESTAMP" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="emergency_name" property="emergencyName" jdbcType="VARCHAR" />
    <result column="emergency_phone" property="emergencyPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, id_card, password, salt, last_access_time, gender, name, email, addr_id,
    emergency_name, emergency_phone, status, is_deleted, gmt_create, gmt_modified
  </sql>
  <resultMap id="MapWithRelation" type="com.dev.main.tenancy.vo.TncCustomerVo" >
    <id column="cid" property="id" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="last_access_time" property="lastAccessTime" jdbcType="TIMESTAMP" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="emergency_name" property="emergencyName" jdbcType="VARCHAR" />
    <result column="emergency_phone" property="emergencyPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <association property="tncAddress" column="addr_id" select="com.dev.main.tenancy.dao.TncAddressMapper.selectByPrimaryKey" javaType="com.dev.main.tenancy.domain.TncAddress"></association>
    <association property="tncPoint" javaType="com.dev.main.tenancy.domain.TncPoint" >
      <id property="id" column="p.id"></id>
      <result property="point" column="point"></result>
    </association>
  </resultMap>
  <select id="queryVo" resultMap="MapWithRelation">
    SELECT
    c.id cid, phone, id_card, last_access_time, gender, name, email, addr_id,
    emergency_name, emergency_phone, c.status, c.is_deleted deleted, c.gmt_create, c.gmt_modified,
    p.point point
    FROM tnc_customer c LEFT JOIN tnc_point p ON p.uid = c.id
    <where>
      AND (
      c.is_deleted = 0
      )
      <if test="search!=null">AND (
        c.name LIKE CONCAT('%',#{search},'%')
        OR c.phone LIKE CONCAT('%',#{search},'%')
        )
      </if>
    </where>
  </select>

  <select id="query" resultMap="BaseResultMap">
    SELECT
   <include refid="Base_Column_List"></include>
    FROM tnc_customer c
    <where>
      AND (
      c.is_deleted = 0
      )
      <if test="search!=null">AND (
        c.name LIKE CONCAT('%',#{search},'%')
        OR c.phone LIKE CONCAT('%',#{search},'%')
        )
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tnc_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tnc_customer
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tnc_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dev.main.tenancy.domain.TncCustomer" >
    insert into tnc_customer (id, phone, id_card, 
      password, salt, last_access_time, 
      gender, name, email, 
      addr_id, emergency_name, emergency_phone, 
      status, is_deleted, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{lastAccessTime,jdbcType=TIMESTAMP}, 
      #{gender,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{addrId,jdbcType=BIGINT}, #{emergencyName,jdbcType=VARCHAR}, #{emergencyPhone,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dev.main.tenancy.domain.TncCustomer" >
    insert into tnc_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="lastAccessTime != null" >
        last_access_time,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="emergencyName != null" >
        emergency_name,
      </if>
      <if test="emergencyPhone != null" >
        emergency_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="lastAccessTime != null" >
        #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null" >
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="emergencyName != null" >
        #{emergencyName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPhone != null" >
        #{emergencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dev.main.tenancy.domain.TncCustomer" >
    update tnc_customer
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="lastAccessTime != null" >
        last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null" >
        addr_id = #{addrId,jdbcType=BIGINT},
      </if>
      <if test="emergencyName != null" >
        emergency_name = #{emergencyName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPhone != null" >
        emergency_phone = #{emergencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dev.main.tenancy.domain.TncCustomer" >
    update tnc_customer
    set phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      last_access_time = #{lastAccessTime,jdbcType=TIMESTAMP},
      gender = #{gender,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      addr_id = #{addrId,jdbcType=BIGINT},
      emergency_name = #{emergencyName,jdbcType=VARCHAR},
      emergency_phone = #{emergencyPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>