<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户信息贩售页</title>
    <link rel="stylesheet" href="/statics/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/statics/layui-v2.4.3/css/layui.css">
</head>
<body style="padding: 10px;">

<fieldset class="layui-elem-field layui-field-title">
    <legend>客户管理</legend>
</fieldset>
<table class="layui-hide" id="tableDemo" lay-filter="customer"></table>


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md8">
                <button class="layui-btn layui-btn-sm" onclick="userList_add()">
                    <i class="layui-icon">&#xe608;</i> 添加
                </button>
            </div>
            <!--<div class="layui-col-md4">
                <input  name="title" id="searchText"  class="layui-text" autocomplete="off" maxlength="25" style="height: 30px;">
                <button class="layui-btn layui-btn-sm" onclick="doSearch()"><i class="layui-icon"> &#xe615;</i>搜索</button>
            </div>-->
        </div>
    </div>
</script>
<script src="/statics/js/jquery-3.3.1.min.js"></script>
<script src="/statics/layui-v2.4.3/layui.all.js"></script>
<script src="/statics/vue-2.5.17/vue.min.js"></script>
<script src="/statics/js/common/common.js"></script>
<script src="/statics/js/tenancy/customerList.js"></script>
</body>
</html>
