<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="/statics/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/statics/layui-v2.4.3/css/layui.css">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link rel="stylesheet" href="/statics/css/orderManage.css">
</head>
<body style="padding: 20px; background-color: #F2F2F2;">
<div id="orderdetail_app">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card" style="height: 180px">
                <div class="layui-card-header">车辆信息</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <img :src="car.picPath" style="height:120px;width: 212px">
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_1" style="margin-top:15px;">品牌：{{car.carName}}</label><br>
                            <label class="mylabel_1">系列：{{car.carSeries}}</label><br>
                            <label class="mylabel_1">车牌号：{{car.carNub}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card" style="height: 180px">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">用户姓名：{{user.name}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">性别：{{user.gender=="1"?"男":"女"}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">联系电话：{{user.phone}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">邮箱：{{user.email}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md12">
                            <label class="mylabel_3">身份证号码：{{user.idCard}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">紧急人姓名：{{user.emergencyName}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">紧急人电话：{{user.emergencyPhone}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="height: 300px">
                <div class="layui-card-header">价格明细</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">押金金额：{{order.deposit}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_2">押金状态：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{(order.isDepositReturned==0||order.isDepositReturned==1)?(order.isDepositReturned==1?"已退":"未退"):"未缴"}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">租赁费用：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money"><pp>40*5 = </pp>{{order.baseAmount}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">服务费用：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money"><pp>60*5 = </pp>{{order.serviceAmount}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">折扣：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">{{order.discount}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">优惠券：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">{{car.amount}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2"><a onclick="getother()">其他费用：</a></label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">{{order.otherAmount}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <hr class="layui-bg-green">
                        <div class="layui-col-md6">
                            <label class="mylabel_2" style="margin-top:-5px;">总价：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money" style="margin-top:-5px;">{{order.totalAmount}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card" style="height: 285px">
                <div class="layui-card-header">订单跟踪</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md4">
                            <label class="mylabel">订单编号：{{order.id}}</label><!--最长位数12-->
                        </div>
                        <div class="layui-col-md4">
                            <label class="mylabel">订单状态：{{status}}</label>
                        </div>
                        <div class="layui-col-md4">
                            <label class="mylabel">租赁天数：{{days}}天</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md12">
                            <label class="mylabel">借车门店：{{getadd}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md12">
                            <label class="mylabel">还车门店：{{returnadd}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">开始时间：{{order.startDate}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">应还时间：{{order.returnDate}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">创建时间：{{order.gmtCreate}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">支付时间：{{order.payTime}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">提车时间：{{}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">还车时间：{{order.realReturnDate}}</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">申请退款时间：{{}}</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">确认退款时间：{{}}</label>
                        </div>
                    </div>
                </div>
                <div style="text-align: right"><button class="layui-btn layui-btn-sm" style="margin-top:15px" onclick="parent.layer.closeAll()">关闭</button></div>
            </div>
        </div>

    </div>
</div>
<div style="display: none" id="othermoney">
    <table id="mytable" class="layui-table" lay-skin="row" style="border-bottom:0px;align-items: center">
        <colgroup>
            <col width="160">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>说明</th>
            <th>金额(元)</th>
        </tr>
        </thead>
    </table>
    <!--<hr  class="layui-bg-green" />-->

</div>


<script src="/statics/js/jquery-3.3.1.min.js"></script>
<script src="/statics/layui-v2.4.3/layui.all.js"></script>
<script src="/statics/vue-2.5.17/vue.min.js"></script>
<script src="/statics/js/common/common.js"></script>
<script src="/statics/js/tenancy/index.js"></script>
<script src="/statics/js/tenancy/orderManage_order_show.js"></script>
</body>
</html>