<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="/statics/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/statics/layui-v2.4.3/css/layui.css">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link rel="stylesheet" href="/statics/css/orderManage.css">
</head>
<body style="padding: 20px; background-color: #F2F2F2;">
<div id="orderdetail_app">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card" style="height: 180px">
                <div class="layui-card-header">车辆信息</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <img src="https://fimg.zuchecdn.com/upload/web/modepic/842.jpg" style="height:120px;width: 212px">
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_1" style="margin-top:15px;">品牌：别克</label><br>
                            <label class="mylabel_1">系列：君威V4</label><br>
                            <label class="mylabel_1">车牌号：粤B AD446</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card" style="height: 180px">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">用户姓名：林悦鸿</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">性别：男</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">联系电话：17876253498</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">邮箱：330730953@qq.com</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md12">
                            <label class="mylabel_3">身份证号码：441581199707124779</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_3">紧急人姓名：阿木木</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_3">紧急人电话：18218191891</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="height: 300px">
                <div class="layui-card-header">价格明细</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">押金金额：2000元</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_2">押金状态：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp已收</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">租赁费用：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money"><pp>40*5 = </pp>200</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">服务费用：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money"><pp>60*5 = </pp>300</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">折扣：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">0.55</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2">优惠券：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">-100</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel_2"><a onclick="getother()">其他费用：</a></label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money">20</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <hr class="layui-bg-green">
                        <div class="layui-col-md6">
                            <label class="mylabel_2" style="margin-top:-5px;">总价：</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel_money" style="margin-top:-5px;">666</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card" style="height: 265px">
                <div class="layui-card-header">订单跟踪</div>
                <div class="layui-card-body">
                    <div class="layui-row" >
                        <div class="layui-col-md4">
                            <label class="mylabel">订单编号：15374302222</label><!--最长位数12-->
                        </div>
                        <div class="layui-col-md4">
                            <label class="mylabel">订单状态：租赁中</label>
                        </div>
                        <div class="layui-col-md4">
                            <label class="mylabel">租赁天数：2天</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">借车店：广东省肇庆市端州区肇庆学院店</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">还车店：广东省深圳市福田区上梅林市店</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">开始时间：2018.10.20 16:30</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">应还时间：2018.10.21 16:30</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">创建时间：2018.10.20 16:30</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">支付时间：2018.10.21 16:30</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">提车时间：2018.10.20 16:30</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">还车时间：2018.10.21 16:30</label>
                        </div>
                    </div>
                    <div class="layui-row" >
                        <div class="layui-col-md6">
                            <label class="mylabel">申请退款时间：2018.10.20 16:30</label>
                        </div>
                        <div class="layui-col-md6">
                            <label class="mylabel">确认退款时间：2018.10.21 16:30</label>
                        </div>
                    </div>
                </div>
                <div style="text-align: right"><button class="layui-btn layui-btn-sm" style="margin-top:15px" onclick="parent.layer.closeAll()">关闭</button></div>
            </div>
        </div>

    </div>
</div>
<div style="display: none" id="othermoney">
    <table id="mytable" class="layui-table" lay-skin="row" style="border-bottom:0px;align-items: center">
        <colgroup>
            <col width="160">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>说明</th>
            <th>金额(元)</th>
        </tr>
        </thead>
    </table>
    <!--<hr  class="layui-bg-green" />-->

</div>


<script src="/statics/js/jquery-3.3.1.min.js"></script>
<script src="/statics/layui-v2.4.3/layui.all.js"></script>
<script src="/statics/vue-2.5.17/vue.min.js"></script>
<script src="/statics/js/common/common.js"></script>
<script src="/statics/js/tenancy/index.js"></script>
<script src="/statics/js/tenancy/orderManage_order_show.js"></script>
</body>
</html>