<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加套餐</title>
    <link rel="stylesheet" href="/statics/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/statics/layui-v2.4.3/css/layui.css">
    <link rel="stylesheet" href="/statics/css/style.css">

</head>
<body>
<div id="packageAdd" v-cloak>

    <!--添加套餐 start-->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>{{package.opType}}套餐</legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-col-md11 layui-col-md-offset1">

            <form class="layui-form layui-form-pane" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">套餐名</label>
                    <div class="layui-input-block">
                        <input type="text" v-model="package.name" name="title" required lay-verify="required|repeat"
                               placeholder="请输入套餐名,最好不多于6个字" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">天数范围</label>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="required|number|day_min" v-model="package.daysMin"
                               name="minDay" id="minDay" placeholder="日" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="required|number|day_max" v-model="package.daysMax" name="maxDay"
                               id="maxDay" placeholder="日" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">天数范围是 1-89 天</div>
                </div>

                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">折扣</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input type="text" lay-verify="required|number|discount" v-model="package.discount"-->
                               <!--name="discount" placeholder="¥" autocomplete="off" class="layui-input">-->
                    <!--</div>-->
                    <!--<div class="layui-form-mid layui-word-aux">大于 0 小于 1 的小数</div>-->
                <!--</div>-->

                <!--<div class="layui-form-item layui-form-text">-->
                <!--<label class="layui-form-label">套餐描述</label>-->
                <!--<div class="layui-input-block">-->
                <!--<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" v-if="package.btn_add" lay-submit lay-filter="formDemo" id="add"><i
                                class="layui-icon layui-icon-add-1"></i> 添加
                        </button>
                        <button class="layui-btn" v-if="package.btn_edit" lay-submit lay-filter="formDemo" id="edit"><i
                                class="layui-icon layui-icon-edit"></i> 编辑
                        </button>
                        <button type="reset" v-if="package.btn_add" class="layui-btn layui-btn-danger" id="reset"><i
                                class="layui-icon layui-icon-refresh"></i> 重置
                        </button>
                        <button v-if="package.btn_edit" class="layui-btn layui-btn-danger" onclick="doCancel()"><i
                                class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--添加套餐 end-->

</div>


<script src="/statics/js/jquery-3.3.1.min.js"></script>
<script src="/statics/layui-v2.4.3/layui.all.js"></script>
<script src="/statics/vue-2.5.17/vue.min.js"></script>
<script src="/statics/js/common/common.js"></script>
<script src="/statics/js/tenancy/index.js"></script>
<script src="/statics/js/tenancy/package-manage.js"></script>
<script type="text/javascript" src="/statics/js/tenancy/package-add.js"></script>

</body>
</html>